* {
  transition-duration: 0.1s;
}

body {
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-blend-mode: normal, color-burn;
  background-attachment: fixed;
  margin: 0px;
  width: 100vw;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 1em;
  color: #66a6ff;
}

.text {
  display: flex;
  justify-content: center;
}

.text__textarea {
  width: calc(13 * 0.05 * (40vw + 172px) + 26 * 0.1 * 0.05 * (40vw + 172px) + 2 * 0.05 * (40vw + 172px) + 0.1 * 0.05 * (40vw + 172px));
  color: #6991c7;
  border-color: #accbee;
  border-radius: calc(0.1 * 0.05 * (40vw + 172px));
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.keyboard {
  width: calc(13 * 0.05 * (40vw + 172px) + 28 * 0.1 * 0.05 * (40vw + 172px) + 2 * 0.05 * (40vw + 172px) + 0.1 * 0.05 * (40vw + 172px));
  height: calc(5 * 0.05 * (40vw + 172px) + 12 * 0.1 * 0.05 * (40vw + 172px));
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  margin: auto;
  margin-top: calc(5 * 0.1 * 0.05 * (40vw + 172px));
  margin-bottom: calc(5 * 0.1 * 0.05 * (40vw + 172px));
  border-radius: calc(2 * 0.1 * 0.05 * (40vw + 172px));
}

.keyboard__row {
  display: flex;
}
.keyboard__row:first-child {
  padding-top: calc(1.5 * 0.1 * 0.05 * (40vw + 172px));
}

.keyboard__key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(0.05 * (40vw + 172px));
  height: calc(0.05 * (40vw + 172px));
  margin: calc(0.1 * 0.05 * (40vw + 172px));
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: calc(0.4 * 0.05 * (40vw + 172px));
  font-weight: 700;
  border-radius: calc(0.1 * 0.05 * (40vw + 172px));
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  color: #6991c7;
}
.keyboard__key:hover {
  background: linear-gradient(to top, #a1c4fd 0%, #c2e9fb 100%);
  color: #7489F2;
  cursor: pointer;
}
.keyboard__key:active {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: LimeGreen;
  transform: scale(0.95);
}

.keyboard__key_tab,
.keyboard__key_slash,
.keyboard__key_left-ctrl,
.keyboard__key_left-win,
.keyboard__key_left-alt {
  width: calc(1.5 * 0.05 * (40vw + 172px) + 0.5 * 0.1 * 0.05 * (40vw + 172px));
}

.keyboard__key_backspace,
.keyboard__key_caps,
.keyboard__key_left-shift,
.keyboard__key_right-shift {
  width: calc(2 * 0.05 * (40vw + 172px) + 0.1 * 0.05 * (40vw + 172px));
}

.keyboard__key_enter,
.keyboard__key_right-shift {
  width: calc(2 * 0.05 * (40vw + 172px) + 0.1 * 0.05 * (40vw + 172px) + 0.1 * 0.05 * (40vw + 172px));
}

.keyboard__key_wide-large {
  width: 0px;
}

.keyboard__key_space {
  width: calc(0.05 * (40vw + 172px) * 4 + 0.1 * 0.05 * (40vw + 172px) * 13);
}

.keyboard__description {
  margin-top: calc(5 * 0.1 * 0.05 * (40vw + 172px));
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1em;
  color: #6991c7;
}

.pressed {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: LimeGreen;
  transform: scale(0.95);
}

.toUpperCase {
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
